{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block body%}

<form action="{{ url_for('index1')}}" id="rgt" style="margin-bottom: 100px;">
		<h4 style="margin: 0px; color: #f90; -webkit-text-stroke: .3px black;">Signed in as, {{u1}}</h4>
		<button style="width: 100px; font-size: 1em; float: right;">Log Out</button>
</form>

<div>
	<form action="{{ url_for('search')}}" method="post" autocomplete ="off">
		<input type="text" name="search"  placeholder="Book ISBN, Title or Author" style="margin: 10px; margin-top: 200px;">
		<select name="drop">
			<option value="isbn"> ISBN </option>
			<option value="title" selected> Title </option>
			<option value="author"> Author </option>
		</select>
		<br>
		<button>Search for Book</button>
	</form>
</div>
<div>
	<table align="center" id="cent">
		{% for books in test %}
		<tr>
			<td> {{ books.isbn }} </td>
			<td><b><a href="{{ url_for('review', isbn=books.isbn) }}" method="post"> {{ books.title }} </a></b></td>
			<td>  {{ books.author }}  </td>
			<td>  {{ books.year }}  </td>
		<tr>
		{% endfor %}
	</table>
</div>
{% endblock %}