{% extends "layout.html" %}

{% block title %}
Registration  Page
{% endblock %}

{% block body%}
<div>
	<form action="{{ url_for('registering')}}" method="post">
		<input type="text" name="rusername" placeholder="Username" style="margin: 10px; margin-top: 200px;">
		<br>
		<input type="password" name="rpassword" placeholder="Password">
		<br>
		<input type="password" name="repassword" placeholder="Password Again">
		<br>
		<button>Confirm Registration</button>
	</form>
</div>	
{% endblock %}